<div id="application" class="page">
  <div class="divided title">
    Aplicación
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Información Básica</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Nombre Completo </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> Escuela </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> Escuela </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="Escuela" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label>Año de Graduación</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">Año de Graduación</option>
            <option value="2019">2013</option>
            <option value="2019">2014</option>
            <option value="2019">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2019">2020</option>
            <option value="2019">2021</option>
            <option value="2019">2022</option>
            <option value="2019">2023</option>
          </select>
        </div>

        <div class="field">
          <label>Género</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Género</option>
            <option value="M">Hombre</option>
            <option value="F">Mujer</option>
            <option value="O">Otro</option>
            <option value="N">Prefiero no responder.</option>
          </select>
        </div>

        <div class="field">
          <label>Me describiría a mi mismo como...</label>
          <input type="text"
                 placeholder="Diseñador, Data Scientist, Mago de iOS, Hacker Extraordinario, Hechicero del Concreto..."
                 ng-model="user.profile.description">
        </div>

        <div class="field">
          <label>
              ¿Qué es lo que más te gustaría aprender o llevarte a casa del Hackatón Ciudad 4.0? (opcional)
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <div class="field"
             ng-hide="isMitStudent">
          <p>
            Debido a las limitaciones impuestas por el Congreso Nacional de Ingeniería civil, no nos
            es permitido aceptar menores de edad (menores de 18 años) para el Hackatón Ciudad 4.0
            Al confirmar la casilla debajo afirmas que tienes o tendrás 18 años o más al momento del evento.
          </p>
          <p>
            <strong>
            Revisaremos credencial de elector. Si eres un menor de edad, se te negará el acceso en la entrada.
            </strong>
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult">Tengo 18 años o más.</label>
          </div>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Registrar
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
