<div id="stats">

  <div
    class="ui green segment"
    ng-class="{'loading': loading}">
    <div class="ui header">
      Estadísticas
    </div>
    <div class="content">
      <em> Última Actualización: {{fromNow(stats.lastUpdated)}}</em>
      <div class="ui list">
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Total de Usuarios
            </strong> :
            {{stats.total}}
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Usuarios Verificados
            </strong> :
            {{stats.verified}} ({{stats.verified / stats.total * 100 | number: 1}}%)
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Usuarios Registrados
            </strong> :
            {{stats.submitted}} ({{stats.submitted / stats.total * 100 | number: 1}}%)
          </div>
        </div>
        <div class="ui divider"></div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Admitidos
            </strong> :
            {{stats.admitted}}
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Confirmados (Total)
            </strong> :
            {{stats.confirmed}}
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Confirmados (UNAM)
            </strong> :
            {{stats.confirmedMit}}
          </div>
        </div>
        <div class="item">
          <i class="circle red icon"></i>
          <div class="content">
            <strong>
              Declinados
            </strong> :
              {{stats.declined}}
          </div>
        </div>

        <div class="item">
          <i class="green flag icon"></i>
          <div class="content">
            <strong>
              Registraron su llegada
            </strong> :
              {{stats.checkedIn}}
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="item">
          <i class="child icon"></i>
          <div class="content">
            <strong>
              Playeras de tipo Unisex
            </strong> :
              XS ({{stats.shirtSizes['XS']}})
              S ({{stats.shirtSizes['S']}})
              M ({{stats.shirtSizes['M']}})
              L ({{stats.shirtSizes['L']}})
              XL ({{stats.shirtSizes['XL']}})
              XXL ({{stats.shirtSizes['XXL']}})
          </div>
        </div>

        <div class="item">
          <i class="child icon"></i>
          <div class="content">
            <strong>
              Playeras de Mujer:
            </strong> :
              XS ({{stats.shirtSizes['WXS']}})
              S ({{stats.shirtSizes['WS']}})
              M ({{stats.shirtSizes['WM']}})
              L ({{stats.shirtSizes['WL']}})
              XL ({{stats.shirtSizes['WXL']}})
              XXL ({{stats.shirtSizes['WXXL']}})
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="item">
          <i class="green money icon"></i>
          <div class="content">
            <strong>
              Total de justificantes:
            </strong>{{stats.reimbursementTotal}}
          </div>
        </div>

        <div class="item">
          <i class="frown icon"></i>
          <div class="content">
            <strong>
              Aún necesitan justificante:
            </strong>{{stats.reimbursementMissing}}
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="item">
          <i class="plug icon"></i>
          <div class="content">
            <strong>
              Usarán Hardware:
            </strong>{{stats.wantsHardware}}
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="item">
          <i class="food icon"></i>
          <div class="content">
            <strong>
              Restricciones de Dieta:
            </strong>
            <span
              ng-repeat="restriction in stats.dietaryRestrictions | orderBy: '-count'">
              {{restriction.name}} ({{restriction.count}})
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div
    class="ui pink segment"
    ng-class="{'loading': loading}">
    <div class="ui header">
      Demográficos
    </div>
    <div class="ui list">
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <strong>Total de Usuarios</strong>: {{stats.total}}
        </div>
      </div>
      <div class="item">
        <i class="female icon"></i>
        <div class="content">
          <strong>Mujer</strong>: {{stats.demo.gender['F']}} ({{stats.demo.gender['F'] / stats.total * 100 | number:1}}%)
        </div>
      </div>
      <div class="item">
        <i class="male icon"></i>
        <div class="content">
          <strong>Hombre</strong>: {{stats.demo.gender['M']}} ({{stats.demo.gender['M'] / stats.total * 100 | number:1}}%)
        </div>
      </div>
      <div class="item">
        <i class="other gender icon"></i>
        <div class="content">
          <strong>Otro</strong>: {{stats.demo.gender['O']}} ({{stats.demo.gender['O'] / stats.total * 100 | number:1}}%)
        </div>
      </div>
      <div class="item">
        <i class="question icon"></i>
        <div class="content">
          <strong>Sin responder</strong>: {{stats.demo.gender['N']}} ({{stats.demo.gender['N'] / stats.total * 100 | number:1 }}%)
        </div>
      </div>
    </div>
    <div class="ui divider"></div>
      <div class="ui list">
        <div class="item">
          <strong>Primer Año:</strong> {{stats.demo.year['2019']}} ({{stats.demo.year['2019'] / stats.total * 100 | number: 1}}%)
        </div>
        <div class="item">
          <strong>Segundo Año:</strong> {{stats.demo.year['2018']}} ({{stats.demo.year['2018'] / stats.total * 100 | number: 1}}%)
        </div>
        <div class="item">
         <strong>Tercer Año:</strong> {{stats.demo.year['2017']}} ({{stats.demo.year['2017'] / stats.total * 100 | number: 1}}%)
        </div>
        <div class="item">
          <strong>Último Año:</strong> {{stats.demo.year['2016']}} ({{stats.demo.year['2016'] / stats.total * 100 | number: 1}}%)
        </div>
      </div>
    <div class="ui divider"></div>
    <div class="ui list">
      <div
        class="item"
        ng-repeat="school in stats.demo.schools | orderBy: '-count'">
        <div class="content">
          <strong>{{school.email}}</strong> : {{school.count}} ({{school.count / stats.total * 100 | number: 1}}%)
          <p>
          <div class="ui purple mini label">
            Registrados: {{school.stats.submitted}}
          </div>
          <div class="ui pink mini label">
            Admitidos: {{school.stats.admitted}}
          </div>
          <div class="ui green mini label">
            Confirmados: {{school.stats.confirmed}}
          </div>
          <div class="ui red mini label">
            Declinados: {{school.stats.declined}}
          </div>
          </p>
          <div class="ui divider"></div>
        </div>
      </div>
    </div>
  </div>

<!--   <div
    class="ui purple segment"
    ng-class="{'loading': loading}">
    <div class="ui header">
      Team Names
    </div>
    <div class="ui list">
      <div
        class="item"
        ng-repeat="team in stats.teams | orderBy: 'name'">
        <div class="header">
          {{team.name}}
        </div>
        {{team.users.join(', ')}}
      </div>
    </div>
  </div> -->

</div>
