<div class="verify page">
  <div class="divided title">
    VERIFICACIÓN DE EMAIL
  </div>
  <div class="ui segment">
    <div ng-show="success">
      <i class="green check circle icon"></i>
      <p>
        Tu email se ha verificado satisfactoriamente.
      </p>
      <br>
      <div class="ui fluid pink button"
           ui-sref="app.dashboard">
        Continuar a la página principal
      </div>
    </div>
    <div ng-show="!success">
      <i class="red circle remove icon"></i>
      <p>
        Este token es inválido.
      </p>
    </div>
  </div>
</div>
