<div id="sidebar"
     ng-class="{open: showSidebar}">
  <div ui-sref="app.dashboard"
       class="logo item">
    <img src="assets/images/logo.png">
  </div>

  <div ui-sref-active="active"
       ui-sref="app.dashboard"
       class="item">
    Inicio
  </div>

  <div ng-show="currentUser.verified">

    <div
      ui-sref-active="active"
      ui-sref="app.application"
      ng-show="!currentUser.status.declined"
      class="item">
      Aplicación
    </div>

    <div
      ui-sref-active="active"
      ui-sref="app.confirmation"
      ng-show="!pastConfirmation && currentUser.status.admitted && !currentUser.status.declined"
      class="item">
      Confirmación
    </div>

    <div
      ui-sref-active="active"
      ui-sref="app.team"
      ng-show="!currentUser.status.declined"
      class="item">
      Equipo
    </div>

    <div
      ui-sref-active="active"
      ui-sref="app.admin.stats"
      class="item"
      ng-show="currentUser.admin">
      Admin
    </div>

  </div>


  <a href="https://hackathonciudad40.com/assets/BasesHackathonCiudad40.pdf" target="_blank">
    <div class="item" style="color: white;">
      Revisar Bases
    </div>
  </a>

  <a href="https://hackathonciudad40.com/assets/MentoresHackathonCiudad40.pdf" target="_blank">
    <div class="item" style="color: white;">
      Mentores del Evento
    </div>
  </a>

  <div class="item"
       ng-click="logout()">
    Cerrar Sesión
  </div>

  <div class="note">
    {{ EVENT_INFO.NAME }}
  </div>

</div>

<div class="tab"
  ng-click="toggleSidebar()">
  <img ng-show="!showSidebar" src="assets/images/logo-flechas.png" />
  <span class="close" ng-show="showSidebar">&#x2715</span>
</div>


