<div class="page">
  <div class="divided title">
    Confirmación
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <div class="divided title">Detalles Básicos</div>

        <fieldset ng-disabled="pastConfirmation">

          <div class="field">
            <label> ¿Cuál es tu teléfono celular? (requerido) </label>
            <p>
              ¡Necesitamos esta información en caso de que tengamos que contactarte!
            </p>
            <input type="tel"
                   name="phone"
                   ng-model="user.confirmation.phoneNumber"
                   placeholder="(123) - 555 - 1234"
                   required>
          </div>

          <div class="field">
            <label> Restricciones de Dieta </label>

            <p>
              Si tu restricción no aparece aquí, dejanos detalles en las notas al final.
            </p>
            <p>
              Nos aseguraremos de que tengas comida :)
            </p>

          </div>

          <div class="inline fields">
            <div class="field"
              ng-repeat="(key, value) in dietaryRestrictions">

              <div class="ui checkbox">
                <input type="checkbox" ng-model="dietaryRestrictions[key]" />
                <label>{{key}}</label>
              </div>

            </div>
          </div>

          <div class="field">
            <label> Tamaño de Playera (requerido) </label>
            <p>
              ¡Hora de los regalos!
            </p>
            <select
              name="shirt"
              ng-model="user.confirmation.shirtSize"
              required>
              <option value="">Tamaño de Playera</option>
              <option value="XS">Unisex X-Small</option>
              <option value="S">Unisex Small</option>
              <option value="M">Unisex Medium</option>
              <option value="L">Unisex Large</option>
              <option value="XL">Unisex X-Large</option>
              <option value="XXL">Unisex XX-Large</option>
              <option value="WXS">Women's X-Small</option>
              <option value="WS">Women's Small</option>
              <option value="WM">Women's Medium</option>
              <option value="WL">Women's Large</option>
              <option value="WXL">Women's X-Large</option>
              <option value="WXXL">Women's XX-Large</option>
            </select>
          </div>

          <div class="field">
            <label>
              ¿Usarás hardware durante el hackatón?
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.wantsHardware">
              <label> Si, trabajaré con hardware durante el evento. </label>
            </div>
          </div>

          <div
            class="field"
            ng-show="user.confirmation.wantsHardware">
            <label>
              ¿Qué tipo de hardware planeas usar?
            </label>
            <p>
              Queremos saber qué tipo de equipos habrá durante el evento con el fin de poder mantener la seguridad e integridad
              del evento
            </p>
            <input type="text" ng-model="user.confirmation.hardware">
          </div>


          <br>
          <br>

          <div class="divided title"> Logros y Habilidades </div>

          <div class="field">
            <label> ¿Qué estás estudiando? </label>
            <input type="text"
                   name="study"
                   placeholder="Ing. Civil, Ing. Sistemas Computacionales, Diseño Industrial, Repujado, etc."
                   ng-model="user.confirmation.major">
          </div>

          <div class="field">
            <label> Github </label>
            <input type="text"
                   name="github"
                   placeholder="https://github.com/foobar"
                   ng-model="user.confirmation.github">
          </div>

          <div class="field">
            <label> Twitter </label>
            <input type="text"
                   name="twitter"
                   placeholder="https://twitter.com/foobar"
                   ng-model="user.confirmation.twitter">
          </div>

          <div class="field">
            <label> Datos de Habilidades (requerido) </label>
            <p>
              Sube un documento con información acerca de tus habilidades (ej. Currículum Vitae). ¡En PDF de preferencia!
            </p>
            <a
              target="_blank"
              href="https://form.jotform.co/80611424098858"
              class="ui pink button">
              Subir
            </a>
          </div>

          <br>
          <br>

          <div class="divided title">Detalles de Sueño</div>

          <p>
            Proporciónanos detalles para organizar las áreas de descanso de mejor manera.
          </p>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.hostNeededFri">
              <label>
                <strong>
                  Planeo dormir la primer noche del evento en la sede.
                </strong>
              </label>
            </div>
          </div>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.hostNeededSat">
              <label>
                <strong>
                  Planeo dormir la segunda noche del evento en la sede.
                </strong>
              </label>
            </div>
          </div>

          <div
            ng-show="user.confirmation.hostNeededFri || user.confirmation.hostNeededSat">

            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" ng-model="user.confirmation.genderNeutral">
                <label> No tengo problemas con personas de otro género. </label>
              </div>
            </div>

            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" ng-model="user.confirmation.smokingFriendly">
                <label> Me gustaría tener cerca un área de fumadores. </label>
              </div>
            </div>

            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" ng-model="user.confirmation.catFriendly">
                <label> Si, puede haber gatitos durante el evento ¡Miau! </label>
              </div>
            </div>


            <div class="field">
              <label>
                Déjanos saber si hay algo más que te gustaría para pasar la noche en la sede:
              </label>
              <textarea
                name="hostNotes"
                ng-model="user.confirmation.hostNotes">
              </textarea>
            </div>

          </div>

          <br>
          <br>

          <div class="divided title">Viaje</div>

          <div class="field">
            <p>
              Como recordatorio, nuestra política de generación de justificantes es la siguiente:
            </p>
            <ul>
              <li> A estudiantes que así lo requieran </li>
              <li> A trabajadores que así lo requieran </li>
              <li> Miembros del Colegio de Ingenieros Civiles que así lo requieran </li>
            </ul>
            <p>
              A su vez, te recordamos que dichos justificantes deberás solicitarlos personalmente a la finalización del evento.
            </p>
          </div>

          <div class="field">
            <label> ¿Requieres justificante? </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.needsReimbursement">
              <label> Requiero un justificante. </label>
            </div>
          </div>

          <div
            ng-show="user.confirmation.needsReimbursement">

            <div class="ui header">
              Información de Origen
            </div>

            <p>
              Los justificantes se generarán únicamente a foráneos de la Ciudad de México que así lo requieran por lo que necesitamos que llenen el siguiente formulario con su información de origen.
            </p>

            <div class="field">
              <label>Full Name</label>
              <input type="text"
                     name="name"
                     ng-model="user.confirmation.address.name">
            </div>

            <div class="field">
              <label> Dirección 1 - Calle, Número, Oficina Postal</label>
              <input
                type="text"
                name="addressLine1"
                ng-model="user.confirmation.address.line1">
            </div>

            <div class="field">
              <label> Dirección 2 - Apartamento, suite, unidad, edificio, piso, etc. </label>
              <input
                type="text"
                name="addressLine2"
                ng-model="user.confirmation.address.line2">
            </div>

            <div class="four fields">
              <div class="field">
                <label> Ciudad </label>
                <input
                  type="text"
                  name="city"
                  ng-model="user.confirmation.address.city">
              </div>
              <div class="field">
                <label> Estado/Provincia/Región </label>
                <input
                  type="text"
                  name="state"
                  ng-model="user.confirmation.address.state">
              </div>
              <div class="field">
                <label> Código Postal </label>
                <input
                  type="text"
                  name="zip"
                  ng-model="user.confirmation.address.zip">
              </div>
              <div class="field">
                <label> País </label>
                <input
                  type="text"
                  name="country"
                  ng-model="user.confirmation.address.country">
              </div>
            </div>

          </div>

          <br>
          <br>

          <div class="divided title">Legal</div>

          <div class="field">
            <label> Excención de Responsabilidad </label>
            <p>
              <a
                target="_blank"
                href="https://hackathonciudad40.com/assets/BasesHackathonCiudad40.pdf">
                Excención de Responsabilidad
              </a>
            </p>
            <p>
              Por motivos legales, el evento pide que leas y aceptes nuestra excención de responsabilidad. De nuevo, como mencionamos en la aplicación original - tu <strong> debes </strong> tener 18 años o más para participar el día del evento, o <strong> te negaremos el acceso el día del evento. Revisaremos identificación oficial. </strong>
            </p>
            <p>
              Al escribir mi nombre debajo, afirmo que he leído y aceptado los términos de excención de responsabilidad de más arriba, y que tendré 18 años o más al momento del evento.
            </p>
            <input type="text"
                   name="signatureLiabilityWaiver"
                   placeholder="Your Full Legal Name"
                   ng-model="user.confirmation.signatureLiability">
          </div>

          <div class="field">
            <label> Acuerdo de uso de imágen </label>
            <p>
              <a
                target="_blank"
                href="https://hackathonciudad40.com/assets/BasesHackathonCiudad40.pdf">
                Acuerdo de uso de imágen
              </a>
            </p>
            <p>
              Al firmar este acerdo de uso de imágen nos autorizas a difundir fotografías de tu persona con el mundo entero.
            </p>
            <p>
              Al escribir mi nombre debajo, autorizo el uso de mi imágen dentro y fuera del evento:
            </p>
            <input type="text"
                   name="signaturePhotoRelease"
                   placeholder="Tu nombre completo"
                   ng-model="user.confirmation.signaturePhotoRelease">
          </div>

          <div class="field">
            <label> Código de Conducta </label>
            <p>
              <a
                target="_blank"
                href="https://hackathonciudad40.com/assets/BasesHackathonCiudad40.pdf">
                Código de Conducta Hacker
              </a>
            </p>
            <p>
              Es muy importante para nosotros que los asistentes sigan una serie de lineamientos para hacer el evento divertido para todos los involucrados. Por favor, lee el documento y asegúrate de entender lo que esperamos de ti.
            </p>
            <p>
              Al escribir mi nombre debajo, confirmo que acataré los lineamientos descritos en el Código de Conduct Hacker:
            </p>
            <input type="text"
                   name="signatureCodeOfConduct"
                   placeholder="Tu nombre completo"
                   ng-model="user.confirmation.signatureCodeOfConduct">
          </div>

          <br>
          <br>

          <div class="divided title">todo lo demás</div>

          <div class="field">
            <label>
              Notas adicionales
            </label>
            <p>
              Si hay algo más que debamos saber ¡Déjanos un mensaje aquí abajo! :)
            </p>
            <textarea
              ng-model="user.confirmation.notes"></textarea>
          </div>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui purple button"
                    ng-click="submitForm()">
              Subir
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
